services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    environment:
      - NODE_ENV=production
    ports:
      - "3000:3000"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
